.header {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #817d92;
  text-align: center;
  margin-bottom: 31px;
}
.generated-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 540px; */
  width: 343px;
  height: 64px;
  background: #24232c;
  padding: 17px 15.5px 15px 16px;
}
.generated-password p {
  font-size: 24px;
  font-weight: 700;
  line-height: 31.68px;
  letter-spacing: 0px;
  color: rgba(230, 229, 234, 0.25);
}
.generated-password button {
  display: flex;
  gap: 16px;
  color: #a4ffaf;
  background: none;
  border: none;
  cursor: pointer;
}
.generated-password button:hover svg path {
  fill: #ffffff;
}
.generated-password span {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  color: #a4ffaf;
}
.password-generator {
  padding: 16px;
  margin-top: 16px;
  background: #24232c;
  /* width: 540px;
  height: 528px; */
  width: 343px;
  height: 423px;
}
.password {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #e6e5ea !important;
}
.character-length {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  color: #e6e5ea;
}
.character-length div {
  color: #a4ffaf;
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
}
input[type="range"] {
  /* width: 476px; */
  width: 100%;
  height: 8px;
  cursor: pointer;
  accent-color: #a4ffaf;
}

.password-strength {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 16px 18px 16px;
  margin-top: 32px;
  /* width: 476px; */
  width: 100%;
  height: 56px;
  background: #18171f;
}
.password-strength span {
  color: #817d92;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.password-strength div {
  display: flex;
  /* margin-left: 16px; */
  align-items: center;
}
.strength-text {
  color: #e6e5ea !important;
}
.password-strength-rate {
  display: flex;
  justify-content: space-between;
  width: 63.5px;
  height: 28px;
}

.password-strength-rate div {
  width: 10px;
  height: 28px;
  border: 2px solid #e6e5ea;
}
.check-box {
  width: 20px;
  height: 20px;
  border: 2px solid #e6e5ea;
  cursor: pointer;
}
.checkbox-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #e6e5ea;
  font-size: 16px;
}
.checkbox-container div {
  display: flex;
  gap: 24px;
}
.too-weak-password {
  background: #f64a4a;
}
.weak-password {
  background: #fb7c58;
}
.medium {
  background: #f8cd65;
}
.strong {
  background: #a4ffaf;
}
.check-img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.btn {
  width: 100%;
  height: 56px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 16px;
  /* margin-top: 32px; */
  /* width: 476px;
  height: 65px; */
  background: #a4ffaf;
  color: #24232c;
  border: none;
  cursor: pointer;
}
.btn:hover {
  color: #a4ffaf;
  background: #24232c;
  border: 2px solid #a4ffaf;
}

.btn svg {
  margin-left: 16px;
}
.btn:hover svg path {
  fill: #a4ffaf;
}
