* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #18171f;
  font-family: "JetBrains Mono", monospace;
}

@font-face {
  font-family: "JetBrainsMono-Bold";
  src: url("./assets/fonts/JetBrainsMono-Bold.ttf");
}
